#card
{
    border-radius: 20px;

    background-color:#eb4d4b;
    color:#000;
    font-family: 'Ubuntu', sans-serif;
}

#card:hover
{
  /**color:#130f40;
    transform: translateY(-10px);
    background-color: #ff7979;
    cursor: pointer;
    transform: rotate(0deg) scale(1) translateY(10px);
    transition: .5s all ease;
    z-index: 400;**/
    color:#1B1464;
    background-color: #ff7979;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid #9AECDB;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
#image
{
    border-radius: 50%;
    border-width: 20px;
}
